<%- include("header") -%>

    <div class="box" id="heading">
        <h1> About </h1>
    </div>

    <p class="about-me">Hey! I'm Arva Kagdi.
     <p class="about-me"> I completed my MS in Computer Engineering from Syracuse University. I am currently working on web development projects.</p>  
     <p class="about-me">I am open to software development  opportunities.</p>
  
              
    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/arvakagdi/">LinkedIn</a>
        <a class="footer-link" href="https://github.com/arvakagdi">Github</a>
      </div>

      <form action="/">
        <input class="back" type="submit" value="Back" />
      </form>
<%- include("footer") -%>
